.accesslistentry-Developer, .commandlistentry-Developer{ color:purple;}
.accesslistentry-Superuser, .commandlistentry-Superuser { color:blue;}
.accesslistentry-Advanced, .commandlistentry-Advanced {color:green;}
.accesslistentry-Normal, .commandlistentry-Normal {color:black;}
.accesslistentry-Semiignored, .commandlistentry-Semiignored { color:orange;}
.accesslistentry-Ignored, .commandlistentry-Ignored { color:red;}
.channelentry-Enabled { }
.channelentry-Disabled { text-decoration: line-through; color: lightgray; }

